<include file="Public:header_no_nav"/>
<link rel="stylesheet" href="__PUBLIC__/css/login.css">
<div class="main layui-clear">
    <div class="fly-panel fly-panel-user" pad20="">
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a href="{:U('Login/register')}">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form action="{:U('Login/doLogin')}" method="post" onsubmit="return false;" id="loginForm">
                            <div class="layui-form-item"><label for="L_email" class="layui-form-label">手机</label>
                                <div class="layui-input-inline"><input type="text" id="tel_num" name="tel_num" required=""
                                                                       lay-verify="required" autocomplete="off"
                                                                       class="layui-input"></div>
                            </div>
                            <div class="layui-form-item"><label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline"><input type="password" id="password" name="password"
                                                                       required="" lay-verify="required"
                                                                       autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-form-item login-check" pane="">
                                <label class="layui-form-label">记住密码</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" id="rememberPwd" name="rememberPwd" lay-skin="primary" title="是" checked="">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit="" onclick="doLogin()">立即登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script src="__PUBLIC__/js/custom.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('form', function () {
        var $ = layui.jquery, form = layui.form();
        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
    function doLogin(){
        var loginUrl = $("#loginForm").attr('action');
        var tel_num = $("#tel_num").val();
        var passWord = $("#password").val();
        var rememberPwd = false;
        if ($("#rememberPwd").is(':checked')) {
            rememberPwd = true;
        }
        $.post(loginUrl, {"tel_num": tel_num, "password": passWord, "rememberPwd": rememberPwd}, function (response) {
            if (response.code == 200) {
                window.location.href = "{:U('Index/index')}";
            } else {
                layer.msg(response.msg);
            }
        });
    }
</script>
</body>
</html>
